:root{ --primary-text-color:#434455;
--secondary-text-color:#2E2F42;--white-color:#FFFFFF;--background-color: #FFFFFF ;
;--accent-color:#4D5AE5;--button-background:#F4F4FD;
}

body{font-family:'Roboto',sans-serif;
    color:var(--primary-text-color);background-color:var(--background-color); }

.header-link:hover{  color:var(--primary-text-color); } 
.header-link:focus-within{ color:var(--primary-text-color);}
.header-link:active{color:var(--accent-color);}

a {text-decoration-line: none;}

.header-logo {font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 1.3;
     color: var(--secondary-text-color);}
.logo {
    font-family:'Raleway',sans-serif;
     font-weight: 800;
    font-size:18px;
    line-height: 1.3;
    color:var(--accent-color);}
.header-link 
        {font-size:16px;
        line-height:1.5;
        color:var(--secondary-text-color);}
 
.list {list-style:none;}

.adress{list-style:none;}
.adress:hover{color:var(--accent-color);}
.adress:focus{color:var(--accent-color);}
.adress:active{color:var(--accent-color);}

.adress
{    
    font-size: 16px;
    line-height: 1.5;
    
    color:var(--primary-text-color);}
   
.button {font-family:inherit;
    font-size: 16px;
    line-height:1.5;
     background-color:var(--button-background); color:var(--accent-color);} 
.button:hover{background-color:var(--accent-color); color:var(--white-color);} 
.button:focus-visible{background-color:var(--accent-color); color:var(--white-color)}
.button {cursor:pointer;} 

.section{background-color:var(--secondary-text-color);}
.section-title-p{ 
    font-size: 20px;
    line-height: 1.2;
    color:var(--secondary-text-color)
}
.section-paragraph {
    font-size: 16px;
    line-height: 1.5;  
    color:var(--primary-text-color)
}



.footer {
     background:#2E2F42;}

.footer-paragraph {
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}
.footer-link{font-family: 'Raleway',sans-serif;
     font-size: 18px;
    line-height: 1.16;
    color:var(--button-background);}

.adress{list-style:none;}
.section-button { font-family:inherit;
                  font-size: 16px;
                  line-height:1.8;
                 background-color:var(--accent-color);
                 color:var(--white-color);
                  }

.title{
     font-size: 56px;
    line-height:1.07;
    
    color:var(--white-color);}
.section-advantages {
    font-size: 20px;
    line-height: 1.2; color:var(--secondary-text-color);}
.section-text {font-family:inherit;
    
    font-size: 16px;
    line-height:1.5;
    color:var(--primary-text-color);}
.section-title {
   font-size: 36px;
   line-height: 1.1;
     color:var(--secondary-text-color);}
.member {
    font-size: 20px;
    line-height:1.2;
   color:var(--secondary-text-color);}
.member-position {
    font-size: 16px;
    line-height:1.5;
    color:var(--primary-text-color);}
